<a href="https://colab.research.google.com/github/Abinaya-J/Udacity_Intro_to_Data_Science/blob/master/Subway_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Accessing data and converting it into a dataframe**

In [10]:
import pandas 
weather_data = pandas.read_csv('/content/weather-underground.csv')
print(weather_data.head())

         date  maxpressurem  maxdewptm  ...  meantempi  maxvism  meantempm
0  2011-05-01          1026          6  ...         60       16         16
1  2011-05-02          1026         10  ...         57       16         14
2  2011-05-03          1021         15  ...         65       16         18
3  2011-05-04          1017         14  ...         55       16         13
4  2011-05-05          1016          4  ...         56       16         13

[5 rows x 70 columns]

**Using SQL queries and functions**

In [ ]:
!pip install -U pandasql
import pandasql

In [18]:
#Finding the number of rainy days - the query counts the number of rows which have "1" under the column named "rain"

q = """SELECT COUNT(date) num_days_rained
    FROM weather_data
    WHERE CAST(rain AS integer) = 1;"""

rainy_days = pandasql.sqldf(q.lower(), locals())
print(rainy_days)

   num_days_rained
0               10

In [21]:
#Finding the maximum temperature on foggy and not foggy days

q = """SELECT fog,MAX(CAST(maxtempi AS integer)) max_temp
    FROM weather_data
    GROUP BY 1;"""

max_temp = pandasql.sqldf(q.lower(), locals())
print(max_temp)

   fog  max_temp
0    0        86
1    1        81

In [22]:
#Finding the mean temperature during weekends
#cast (strftime('%w', date) as integer) will return 0 if the date is a Sunday or 6 if the date is a Saturday

q = """SELECT AVG(CAST(meantempi AS integer)) avg_mean_temp
    FROM weather_data
    WHERE CAST(strftime('%w', date) AS integer) IN (0,6);"""

mean_temp_weekends = pandasql.sqldf(q.lower(), locals())
print(mean_temp_weekends)

   avg_mean_temp
0      65.111111